@model Infrastructure.Models.Residencias

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Residencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnoInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnoInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoResidencias.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoResidencias.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantCarros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantCarros)
        </dd>






    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "IndexAdmin")
</p>
