@model Infrastructure.Models.Residencias

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Residencia</h2>

<div class="container">
    <h2 class="text-center mb-5"></h2>

    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Residencias</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.ID)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Usuario.ID)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.Usuario.nombre)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Usuario.nombre)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.Usuario.apellido)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Usuario.apellido)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.CantPersonas)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.CantPersonas)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.AnnoInicio)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.AnnoInicio)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.EstadoResidencias.Descripcion)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.EstadoResidencias.Descripcion)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.CantCarros)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.CantCarros)
                        </dd>
                    </dl>





                </div>
            </div>

            <div class="mt-4">
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary me-2" })
                @Html.ActionLink("Volver al Listado", "IndexAdmin", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>

