@model IEnumerable<Infrastructure.Models.Residencias>

@{
    ViewBag.Title = "IndexAdmin";
}

<h2>Residencias</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-lg-9" >
    <div id="resultado" class="row">
        @foreach (var item in Model)
        {
            
            <div class="col-sm-3" style=" margin: 1rem;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body " style=" margin-left: 10px; margin-right: 10px;">
                        <p class="card-text"> @Html.DisplayNameFor(model => model.ID):@Html.DisplayFor(modelItem => item.ID) </p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Usuario.nombre) y @Html.DisplayNameFor(model => model.Usuario.apellido):@Html.DisplayFor(modelItem => item.Usuario.nombre) @Html.DisplayFor(modelItem => item.Usuario.apellido) </p>
                        <p class="card-text"></p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.IDUsuario): @Html.DisplayFor(modelItem => item.IDUsuario)</p>

                        <a href="@Url.Action("Edit", "Residencias", new { id = item.ID })" class="btn btn-warning">Editar</a>
                        <a href="@Url.Action("Details", "Residencias", new { id = item.ID })" class="btn btn-primary">Detalles</a>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
</div>
