@model IEnumerable<Infrastructure.Models.Residencias>

@{
    ViewBag.Title = "IndexAdmin";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Residencias</h2>
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ID)</th>
                        <th>@Html.DisplayNameFor(model => model.Usuario.nombre) y @Html.DisplayNameFor(model => model.Usuario.apellido)</th>
                        <th>@Html.DisplayNameFor(model => model.IDUsuario)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Usuario.nombre) @Html.DisplayFor(modelItem => item.Usuario.apellido) </td>
                            <td>@Html.DisplayFor(modelItem => item.IDUsuario)</td>
                            <td></td>

                            <td>
                                @Html.ActionLink("Editar", "Edit","Residencias", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" })
                                @Html.ActionLink("Detalles","Details", "Residencias", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
