@model IEnumerable<Infrastructure.Models.Reservaciones>

@{
    ViewBag.Title = "IndexAdmin";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Todas las Reservaciones</h2>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        
                        <th>@Html.DisplayNameFor(model => model.Usuario.nombre) @Html.DisplayNameFor(model => model.Usuario.apellido) </th>
                        <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                        <th>@Html.DisplayNameFor(model => model.AreaComunal.Descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.EstadoReservaciones.Descripcion)</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Usuario.nombre) @Html.DisplayFor(modelItem => item.Usuario.apellido) </td>
                            <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                            <td>@Html.DisplayFor(modelItem => item.AreaComunal.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.EstadoReservaciones.Descripcion)</td>


                            <td>
                                @Html.ActionLink("Edit", "EditAdmin", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
