@model IEnumerable<Infrastructure.Models.Reservaciones>

@{
    ViewBag.Title = "Index";
}

<h2>Mis Reservaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaComunal.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoReservaciones.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaComunal.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoReservaciones.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
