@model Infrastructure.Models.EstadoCuenta

@{
    ViewBag.Title = "Details";
}

<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card ">
                <div class="card-body">
                    <hr />

                    <div class="container">
                        <h2>Detalles de Cuenta</h2>
                        <hr />

                        <div class="row">
                            <div class="col-md-6">
                                <h4>EstadoCuenta</h4>
                                <dl class="dl-horizontal">
                                    <dt>@Html.DisplayNameFor(model => model.Usuario.nombre) y @Html.DisplayNameFor(model => model.Usuario.apellido)</dt>
                                    <dd>@Html.DisplayFor(model => model.Usuario.nombre) @Html.DisplayFor(model => model.Usuario.apellido)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.Residencias.ID)</dt>
                                    <dd>@Html.DisplayFor(model => model.Residencias.ID)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.IDPlanCobro)</dt>
                                    <dd>@Html.DisplayFor(model => model.IDPlanCobro)</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card ">
                        <div class="card-body">
                            <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <h2> Pagos Pendientes</h2>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                                <th>@Html.DisplayNameFor(model => model.IDPlanCobro)</th>
                                                <th>@Html.DisplayNameFor(model => model.IDResidencia)</th>
                                                <th>@Html.DisplayNameFor(model => model.Mes)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in (IEnumerable<Infrastructure.Models.EstadoCuenta>)ViewBag.PagosPendientes)
                                            {
                                                <tr>
                                                    <td>@item.ID</td>
                                                    <td>@item.IDPlanCobro</td>
                                                    <td>@item.IDResidencia</td>
                                                    <td>@item.Mes</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card ">
                        <div class="card-body">
                            <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <h2> Historial de pagos</h2>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                                <th>@Html.DisplayNameFor(model => model.IDPlanCobro)</th>
                                                <th>@Html.DisplayNameFor(model => model.IDResidencia)</th>
                                                <th>@Html.DisplayNameFor(model => model.Mes)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in (IEnumerable<Infrastructure.Models.EstadoCuenta>)ViewBag.HistorialPagos)
                                            {
                                                <tr>
                                                    <td>@item.ID</td>
                                                    <td>@item.IDPlanCobro</td>
                                                    <td>@item.IDResidencia</td>
                                                    <td>@item.Mes</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br />
                @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-secondary" })
                <br />
            </div>

        </div>
    </div>
</div>







