@model Infrastructure.Models.EstadoCuenta

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>EstadoCuenta</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residencias.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residencias.ID)
        </dd>

        <dt>
            Deudas vigentes
        </dt>

        <dd>
            <ul>
                @foreach (var c in ViewBag.HistorialPagos)
                {

                    <li>@c.ID</li>
                }
            </ul>
        </dd>

        <dt>
            Historial de pagos
        </dt>

        <dd>
            <ul>
                @foreach (var item in ViewBag.HistorialPagos)
                {

                    <li>@item.ID</li>
                }
            </ul>
        </dd>
        



    </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
