@model Infrastructure.Models.EstadoCuenta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EstadoCuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre) y @Html.DisplayNameFor(model => model.Usuario.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)@Html.DisplayFor(model => model.Usuario.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residencias.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residencias.ID)
        </dd>

        <dt>
            Deudas vigentes
        </dt>

        <dd>
            <ul>
                @foreach (var c in (List<Infrastructure.Models.EstadoCuenta>)ViewBag.DeudasVigentes)
                {

                    <li>@c.ID</li>
                }
            </ul>
        </dd>

        <dt>
            Historial de pagos
        </dt>

        <dd>
            <ul>
                @foreach (var item in (List<Infrastructure.Models.EstadoCuenta>)ViewBag.HistorialPagos)
                {

                    <li>@item.ID</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
