@model Infrastructure.Models.EstadoCuenta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EstadoCuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre) y @Html.DisplayNameFor(model => model.Usuario.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre) @Html.DisplayFor(model => model.Usuario.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residencias.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residencias.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPlanCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPlanCobro)
        </dd>
    </dl>

    <h2> Pagos Pendientes</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>IDPlanCobro</th>
            <th>IDResidencia</th>
            <th>Mes</th>
        </tr>
        @foreach (var item in (IEnumerable<Infrastructure.Models.EstadoCuenta>)ViewBag.PagosPendientes)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.IDPlanCobro</td>
                <td>@item.IDResidencia</td>
                <td>@item.Mes</td>
            </tr>
        }
    </table>

    <h2> Historial de pagos</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>IDPlanCobro</th>
            <th>IDResidencia</th>
            <th>Mes</th>
        </tr>
        @foreach (var item in (IEnumerable<Infrastructure.Models.EstadoCuenta>)ViewBag.HistorialPagos)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.IDPlanCobro</td>
                <td>@item.IDResidencia</td>
                <td>@item.Mes</td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
