@model IEnumerable<Infrastructure.Models.EstadoCuenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Información usuario *@
@{
    String nombre = "";
    String email = "Perfil";
    int ID = 0;

    if (Session["User"] != null)
    {
        Infrastructure.Models.Usuario usuario = new Infrastructure.Models.Usuario();
        usuario = (Infrastructure.Models.Usuario)Session["User"];
        nombre = $"{usuario.nombre} {usuario.apellido}";
        ID = usuario.ID;
        email = usuario.correo;

    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @nombre
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.correo)
        </dt>

        <dd>
            @email
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.ID)
        </dt>

        <dd>
            @ID
        </dd>

    </dl>
        @Html.ActionLink("Details", "Details", new { id = ID })
        @*@Html.ActionLink("Información", "Index", "Informacion", null, new { @class = "nav-item dropdown" })*@

}
