@model IEnumerable<Infrastructure.Models.Informacion>

@{
    ViewBag.Title = "Index";
}

<h2>Informacion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-lg-9">
    <div id="resultado" class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card">
                    <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Imagen)"
                         alt="Imagen @Html.DisplayFor(modelItem => item.Descripcion)" class="img-thumbnail" />
                    <div class="card-body">
                        <h5 class="card-title"> >@Html.DisplayFor(modelItem => item.Titulo) </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>

                        <div class="btn-group">
                            <a href="@Url.Action("Edit", "Informacion", new { id = item.ID })" class="btn btn-warning" style="border-radius: 10rem" ;>Editar</a>
                            <a href="@Url.Action("Details", "Informacion", new { id = item.ID })" class="btn btn-primary " style="border-radius: 10rem;">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>