@model IEnumerable<Infrastructure.Models.Usuario>

@{
    ViewBag.Title = "Indexadmin";
}

<h2>Administrar Usuarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>

            @Html.ActionLink("Asignar Plan de Cobro", "EditAdmin", "EstadoCuenta", new { id = item.ID }, null) |
            @Html.ActionLink("Detalles del Plan de Cobro", "Details", "EstadoCuenta", new { id = item.ID }, null)

        </td>
    </tr>
}

</table>
