@model IEnumerable<Infrastructure.Models.Usuario>

@{
    ViewBag.Title = "Indexadmin";
}

<h2>Administrar Usuarios</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>
                @Html.ActionLink("Crear Usuario Nuevo", "Create", null, new { @class = "btn btn-primary" })
            </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre) y @Html.DisplayNameFor(model => model.apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.correo)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre) @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.correo)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles del Usuario", "Details", "Ususario", new { id = item.ID }, new { @class = "btn btn-sm btn-success" })|
                            @*@Html.ActionLink("Editar Usuario", "Edit", "Ususario", new { id = item.ID }, new { @class = "btn btn-sm btn-warning" })*@
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>