@model Infrastructure.Models.Incidencias

@{
    ViewBag.Title = "Details";
}

<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">Detalles de la Incidencia</h4>
                    <hr />

                    <dl class="row">

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.Residencias.ID)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Residencias.ID)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.EstadoIncidencia.Descripcion)
                        </dt>

                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.EstadoIncidencia.Descripcion)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="mt-4">
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary me-2" })
                @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>